* {
    margin : 0;
    padding: 0;
}

.box {
    position: absolute;
    width   : 100px;
    height  : 100px;
    border  : 1px solid red;
    left    : 0;
    top     : 0;
}

body {
    box-sizing: border-box;
}